---
layout: default
title: Home
---

{% if paginator.page == 1 %}
<div id="square">    
    {% for post in paginator.posts %}
    <div class="box"><a class="nohover nofocus" href="{{ post.url }}">
    <div class="obox" style="background-image: url('/public/img/{{ post.image }}');background-position:center center;background-repeat:no-repeat;
    background-size:cover;">
    <div class="ibox">
    {% for tags in post.tags %}
      <div class="boxpost-tags">{{ post.tags }}</div>
    {% unless forloop.last %}{% endunless %}
    {% endfor %}

    <div class="boxpost-title">
      {{ post.title }}
    </div>

    <span class="boxpost-date">
      {% for category in post.categories %}
        #{{category}}
      {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    </span>
    </div>
    </div></a>
    </div>
    {% endfor %}
</div>
<div class="post index-post">
  <h1 class="post-title">Welcome</h1>
    Welcome to CurlyLab! (...)
</div>
{% endif %}

{% if paginator.page > 1 %}
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    {% for tags in post.tags %}
      <h3 class="post-tags">{{ post.tags }}</h3>
    {% unless forloop.last %}{% endunless %}
    {% endfor %}
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">
      {% for category in post.categories %}
        #{{category}}
      {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    </span>
    {% assign ncut = 399 %}
    {% if post.content | slice: ncut == " " %}
      {{ post.content | truncate: contentcut, "" }}
    {% else %}
      {% for i in (1..25) %}
        {% decrement contentcut %}
        {% if post.content | slice: ncut == " " %}
          {{ post.content | truncate: ncut, "" }}
          {% break %}
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endif %}

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older nohover nofocus" href="/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer nohover nofocus" href="/">Newer</a>
    {% else %}
      <a class="pagination-item newer nohover nofocus" href="/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
