---
layout: default
title: Home
---

{% if paginator.page == 1 %}
<div id="square">
  {% assign narray = '1,3,5' | split: ',' | abs  %}
  {% assign ccle = 1 %}
  {% for post in paginator.posts %}
    {% if narray contains ccle %}
      <div class="box"><a class="nohover nofocus" href="{{ post.url }}">
      <div class="obox" style="background-image: url('/public/img/{{ post.image }}');background-position:center center;background-repeat:no-repeat;background-size:cover;">
      <div class="ibox">
      {% for tags in post.tags %}
        <div class="boxpost-tags">{{ post.tags }}</div>
      {% unless forloop.last %}{% endunless %}
      {% endfor %}

      <div class="boxpost-title">
        {{ post.title }}
      </div>

      <span class="boxpost-date">
        {% for category in post.categories %}
          #{{category}}
        {% unless forloop.last %}&nbsp;{% endunless %}
        {% endfor %}
      </span>
      </div>
      </div></a>
      </div>
      <div class="box" style="width: 60%;"><div class="obox">
      <div class="ibox" style="background-color: transparent;">
      {% assign ncut = 300 %}
      {% assign words = post.content | strip_newlines | markdownify | strip_html | truncate: ncut, "" | number_of_words | decrement %}
      {{ post.content | strip_newlines | markdownify | strip_html | truncatewords: words, " (...)" }}
      <p><a class="post-more" href="{{ post.url }}">Read more</a></p>
      </div>
      </div>
      </div>
      <br>
      {% assign ccle = ccle | plus: 1 %}
    {% else %}
      <div class="box" style="width: 60%;"><div class="obox">
      <div class="ibox" style="background-color: transparent;">
      {% assign ncut = 300 %}
      {% assign words = post.content | strip_newlines | markdownify | strip_html | truncate: ncut, "" | number_of_words | decrement %}
      {{ post.content | strip_newlines | markdownify | strip_html | truncatewords: words, " (...)" }}
      <p><a class="post-more" href="{{ post.url }}">Read more</a></p>
      </div>
      </div>
      </div>
      <div class="box"><a class="nohover nofocus" href="{{ post.url }}">
      <div class="obox" style="background-image: url('/public/img/{{ post.image }}');background-position:center center;background-repeat:no-repeat;background-size:cover;">
      <div class="ibox">
      {% for tags in post.tags %}
        <div class="boxpost-tags">{{ post.tags }}</div>
      {% unless forloop.last %}{% endunless %}
      {% endfor %}

      <div class="boxpost-title">
        {{ post.title }}
      </div>

      <span class="boxpost-date">
        {% for category in post.categories %}
          #{{category}}
        {% unless forloop.last %}&nbsp;{% endunless %}
        {% endfor %}
      </span>
      </div>
      </div></a>
      </div>
      <br>
      {% assign ccle = ccle | plus: 1 %}
    {% endif %}
  {% endfor %}
</div>{% comment %}
<div class="post index-post">
  <h1 class="post-title">Welcome</h1>
    Welcome to CurlyLab! (...)
</div>{% endcomment %}
{% endif %}

{% if paginator.page > 1 %}
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    {% for tags in post.tags %}
      <h3 class="post-tags">{{ post.tags }}</h3>
    {% unless forloop.last %}{% endunless %}
    {% endfor %}
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">
      {% for category in post.categories %}
        #{{category}}
      {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    </span>
    {% assign ncut = 300 %}
    {% assign words = post.content | strip_newlines | markdownify | strip_html | truncate: ncut, "" | number_of_words | decrement %}
    {{ post.content | strip_newlines | markdownify | strip_html | truncatewords: words, " (...)" }}
    <p><a class="post-more" href="{{ post.url }}">Read more</a></p>
  </div>
  {% endfor %}
</div>
{% endif %}

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older nohover nofocus" href="/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer nohover nofocus" href="/">Newer</a>
    {% else %}
      <a class="pagination-item newer nohover nofocus" href="/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
