<div class="bar">
  <div class="bar-box">
    <div class="bar-logo">
      <a class="nohover nofocus" href="/"><img class="bar-img" src="/public/clLOGOalpha.png"></a>
    </div>
    <ul class="bar-nav">
      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <li class="bar-nav-item{% if page.url == node.url %} active{% endif %}">
              <a href="{{ node.url }}">#{{ node.title }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
