<!-- Header -->
<div class="header">
  <a class="nohover nofocus" href="/"><img class="bar-img" src="/public/clLOGOalpha.png"></a>
  <p>Some <b>text</b> here.</p>
</div>

<!-- Navigation Bar -->
<div class="navbar">
  {% assign pages_list = site.pages %}
  {% for node in pages_list %}
    {% if node.title != null %}
      {% if node.layout == "page" %}
        <a class="{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">#{{ node.title }}</a>
      {% endif %}
    {% endif %}
  {% endfor %}
  <a class="bar-search class="{% if page.url == node.url %} active{% endif %}" href="/search">&#8981;</a>
</div>
